@import '@/app/styles/mixins.scss';

.container {
	.features {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		@apply grid gap-x-10 gap-y-6;

		.feature {
			@apply flex flex-col gap-4 items-start;

			.icon {
				@apply rounded-layout px-6 py-3;

				background: linear-gradient(to top right, hsl(var(--primary)), hsl(var(--card)) 90%);

				svg {
					@apply text-[80px] w-[80px] h-[80px] text-primary;
				}
			}

			.text {
				@apply flex flex-col gap-2;

				.title {
					@apply text-2xl uppercase text-primary font-bold;
				}

				.description {
					@apply text-xl text-gray-200;
				}
			}
		}

		@include md(md, 'max') {
			@apply grid-cols-1;

			.feature {
				@apply flex-row;

				.icon {
					@apply h-full flex items-center;
				}

				.text {
					.title {
						word-break: break-word;
					}
				}
			}
		}

		@include md(sm, 'max') {
			.feature {
				@apply flex-col;

				.icon {
					@apply h-full flex items-center;
				}

				.text {
					.title {
						word-break: break-word;
					}
				}
			}
		}
	}
}
