.servers {
	@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4;

	.server {
		@apply grid bg-card p-4 rounded-lg border-2 border-transparent transition-colors;

		grid-template-areas:
			'name name'
			'ip status';
		grid-template-columns: auto 150px;
		grid-template-rows: 40px 30px;

		&.isPublic {
			@apply border-0;
		}

		&:hover {
			@apply border-primary;
		}

		.name {
			@apply text-2xl;

			grid-area: name;
		}

		.ip {
			@apply text-xl;

			grid-area: ip;
		}

		.status {
			@apply flex flex-row flex-nowrap gap-1 items-center text-xl text-primary;

			grid-area: status;

			&.online {
				@apply text-primary;
			}

			&.offline {
				@apply text-destructive;
			}
		}
	}
}
