.container {
	.whyHeading {
		@apply flex flex-row flex-nowrap items-center justify-center text-secondaryBlue;

		&::before {
			content: '';
			margin-right: 30px;
			display: block;
			background: var(--secondary-blue);
			width: 100px;
			height: 2px;
		}

		&::after {
			content: '';
			margin-left: 30px;
			display: block;
			background: var(--secondary-blue);
			width: 100px;
			height: 3px;
		}
	}
	.qualities {
		grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
		@apply grid gap-10 sm:grid-cols-1;

		.quality {
			@apply flex flex-col gap-4 items-center;
			.icon {
				@apply rounded-layout px-6 py-3;
				background: linear-gradient(to top right, var(--secondary-gray), var(--background) 90%);
			}

			.title {
				@apply text-3xl sm:text-2xl uppercase text-secondaryBlue text-center font-bold;
			}

			.line {
				width: 150px;
				height: 2px;
				margin: 0 auto;
				background: linear-gradient(
					to right,
					rgba(26, 39, 66, 0.3) 0%,
					var(--secondary-blue) 50%,
					rgba(29, 37, 61, 0.3) 100%
				);
			}

			.description {
				@apply text-xl text-center text-gray-200;
			}
		}
	}
}
