.container {
	@apply flex flex-col items-center gap-6 p-layout rounded-3xl bg-backgroundLight w-full max-w-[1000px] text-center mx-auto;
	border: 10px solid transparent;
	background-image: linear-gradient(var(--background-light), var(--background-light)),
		linear-gradient(to right bottom, var(--secondary), var(--secondary-blue));
	background-origin: border-box;
	background-clip: padding-box, border-box;

	.title {
		@apply text-3xl text-secondary uppercase font-bold sm:text-2xl xs:text-2xl;
	}

	.description {
		@apply text-4xl text-secondaryBlue uppercase font-bold sm:text-3xl xs:text-2xl;
	}

	.btn {
		@apply btn-primary text-2xl rounded-full sm:text-xl;
	}
}
