.container {
	@apply w-full flex flex-col gap-6;

	.modNav {
		@apply relative grid;

		grid-template-areas: 'classes divider search';
		grid-template-columns: auto auto 1fr;
		grid-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;

		.classes {
			grid-area: classes;
			@apply flex;

			.classesOpen {
				@apply relative flex items-center gap-2 text-white h-14 py-4 px-5 border-2 border-border text-xl rounded-layout;

				svg {
					@apply transition-transform;
				}
			}

			.classesMenu {
				@apply absolute bg-card top-16 mt-3 pb-10 left-0 right-0 opacity-0 pointer-events-none transition-all z-menu rounded-layout;

				transform: translateY(-10px);

				box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.7);

				> ul {
					@apply flex py-4 overflow-hidden max-h-[320px] transition-all;

					> li {
						@apply relative min-w-0 px-4 flex-1;

						.group {
							@apply relative;

							h3 {
								@apply mb-2 text-xl;

								a {
									@apply flex items-center gap-2;

									&:hover {
										@apply underline underline-offset-4;
									}
								}
							}

							> ul {
								@apply grid gap-x-5 gap-y-1 left-0;

								grid-gap: 4px 20px;

								> li {
									@apply overflow-hidden;

									a {
										@apply block whitespace-nowrap overflow-hidden text-ellipsis text-md;

										transition: color 300ms ease-in-out;
										color: #b2b2b2;
										line-height: 1.5;

										&:hover {
											@apply text-white underline underline-offset-4;
										}
									}
								}
							}
						}
					}

					> li:not(:last-child) {
						border-right: 1px solid #333;
					}
				}

				.classesExpand {
					@apply bg-gray-800 py-3 px-2 text-center w-full flex justify-center items-center absolute left-0 bottom-0 text-lg rounded-b-layout;
				}
			}

			&.isOpen {
				.classesOpen {
					@apply bg-primary border-primary;

					svg {
						@apply rotate-180;
					}
				}

				.classesMenu {
					@apply opacity-100 translate-y-0;

					pointer-events: all;
				}
			}

			&.isExpanded {
				.classesMenu {
					@apply pb-0;

					> ul {
						max-height: var(--vh);
					}

					.classesExpand {
						@apply hidden;
					}
				}
			}
		}

		.divider {
			@apply bg-border h-full w-[2px];

			grid-area: divider;
		}

		.search {
			grid-area: search;
		}
	}
}
