.container {
	@apply flex flex-col gap-5;

	.header {
		@apply flex gap-4 items-center justify-between;
	}

	.settings {
		@apply bg-card shadow-card p-5 rounded-layout;

		.settingsTitle {
			@apply text-2xl text-foreground mb-4;
		}

		.properties {
			@apply grid gap-4 grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3;

			.property {
				@apply rounded-lg flex flex-col justify-start;

				.propertyInput {
					@apply flex flex-row items-center bg-secondary px-4 py-3 gap-x-5 flex-grow rounded-t-lg;

					.propertyLabel {
						@apply flex-grow text-xl whitespace-nowrap;
					}

					.propertyNumber {
						-moz-appearance: textfield;

						&::-webkit-outer-spin-button {
							-webkit-appearance: none;
							display: none;
						}
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							display: none;
						}
						&:hover {
							-moz-appearance: number-input;
						}
						&:focus {
							-moz-appearance: number-input;
						}
					}

					.propertySelect {
						@apply max-w-[300px];
					}
				}

				.propertyOutput {
					@apply bg-secondary/30 px-4 py-[2px] rounded-b-lg;
				}
			}
		}
	}
}
