.card {
	@apply flex flex-col gap-3 p-6 bg-backgroundLight rounded-layout;
	.header {
		@apply flex flex-row gap-4 justify-between;
		.headerTitle {
			@apply text-2xl;
		}

		.headerActions {
			@apply flex items-center text-2xl text-primary hover:text-secondary transition-colors;
		}
	}

	.hr {
		@apply border-gray-500;

		border-width: 1px;
	}

	.body {
		.rows {
			@apply flex flex-col justify-start gap-4;

			.row {
				@apply flex flex-row flex-nowrap gap-3 items-center justify-start;
				.avatar {
				}

				.userName {
					@apply text-xl mr-1;
				}

				.roles {
					@apply flex flex-row gap-2;
					.role {
						@apply px-3 py-0 rounded-layout;
					}
				}

				.actions {
					@apply flex flex-row justify-end items-center gap-2 flex-grow;

					.kick {
						@apply transition-colors;

						&:hover {
							color: var(--secondary-dirt) !important;
						}
					}

					.ban {
						@apply transition-colors;

						&:hover {
							color: var(--hover-error) !important;
						}
					}
				}
			}
		}
	}
}
