@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--container-max-width: 1600px;
	--primary: #08c466;
	--secondary: #005801;
	--secondary-gray: #006b6a;
	--secondary-blue: #59bab8;
	--secondary-dirt: #bb855d;
	--background: #192024;
	--light-gray: #666666;
	--bg-gray-800: rgb(77 77 77 / 1);
	--background-landscape: #171b3d;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	scroll-behavior: smooth !important;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background-color: #192024;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background-color: #192024;
		color: #fff;
	}
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}

	body {
		background-color: #fff;
		color: #192024;
	}
}
