.container {
	@apply top-0 fixed bg-background z-menu opacity-0 invisible md:hidden;

	width: var(--vw);
	height: var(--vh);

	transform: translateX(calc(-1 * var(--vw)));

	transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;

	&.open {
		@apply opacity-100 visible;

		transform: translateX(0);
	}

	.content {
		@apply flex flex-col gap-4 pt-[70px] pb-4 px-6 h-full;

		.serverSelect {
			@apply block sm:hidden;
		}

		.list {
			@apply flex flex-col gap-4 flex-1;

			.item {
				@apply w-max p-2 text-2xl;
			}
		}
	}
}
