@import '@/app/styles/_mixins.scss';

.header {
	@apply sticky w-full bg-background top-0 left-0 right-0 z-header;

	transition: transform 0.3s;

	&.fixed {
		transform: translateY(-100%);

		@include md(lg, 'max') {
			transform: translateX(0%);
		}
	}

	&.landscape {
		@apply absolute;

		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
		background-color: hexToRGBString(#192024, 0.3);
	}

	.content {
		@apply content-container flex flex-row justify-between items-center gap-8 px-layout-sm sm:px-layout py-3;

		.row {
			@apply flex gap-4 items-center;

			&.mainRow {
				@apply flex-1 gap-8;
			}

			.serverSelect {
				@apply flex-1 max-w-[500px];
			}
		}
	}
}
