.react-tabs {
	-webkit-tap-highlight-color: transparent;

	&__tab-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: start;
		column-gap: 25px;
		row-gap: 10px;
		margin: 0 0 10px;
		padding: 0;
	}

	&__tab {
		position: relative;
		list-style: none;
		cursor: pointer;

		a {
			display: block;
		}

		a::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 0;
			transform: scaleX(0.001);
			transition: transform 0.15s ease-in;
			background-color: var(--primary);
			width: 100%;
			display: block;
		}

		&--selected {
			color: var(--primary);

			a::after {
				height: 2px;
				transform: scaleX(1);
			}
		}

		&--disabled {
			color: #aaa;
			cursor: default;
		}
	}

	&__tab-panel {
		display: none;

		&--selected {
			display: block;
		}
	}
}
