.version-select-container {
	width: 100%;
	box-sizing: border-box !important;

	.version-select {
		&__control {
			background-color: transparent !important;
			border: 2px solid var(--light-gray) !important;
			border-radius: 16px !important;
			box-shadow: none !important;
			padding: 2px 10px;

			&--menu-is-open {
				border-color: var(--primary) !important;
			}
		}
		
		&__value-container {
			padding: 0 !important;
			cursor: text !important;
		}

		&__input-container {
			color: #999aa5 !important;
		}

		&__indicator-separator {
			display: none !important;
		}

		&__indicators {
			cursor: pointer !important;
		}

		&__indicator {
			color: #66676e !important;

			&:hover {
				color: #999aa5 !important;
			}
		}

		&__placeholder {
			font-size: 1.125rem !important;
		}

		&__single-value {
			color: #fff;
			font-size: 1.125rem !important;
		}

		&__multi-value {
			background-color: rgba(#999aa5, 0.6) !important;
			border-radius: 0.5rem !important;
		}

		&__multi-value__label {
			font-size: 80% !important;
			color: rgba(white, 0.7) !important;
		}

		&__multi-value__remove {
			color: rgba(white, 0.8) !important;

			&:hover {
				background-color: transparent !important;
				color: white !important;
			}
		}

		&__menu {
			background-color: #292a2e !important;
			color: rgba(white, 0.6) !important;
			animation: scaleIn 0.35s ease-in-out;
			z-index: 10000 !important;
		}

		&__menu-list {
			z-index: 10000 !important;
		}

		&__option {
			cursor: pointer !important;
			font-size: 1.125rem !important;
			padding: 0 0 !important;
			z-index: 10000 !important;

			a {
				width: 100% !important;
				padding: 12px 15px !important;
				display: block !important;
			}

			&--is-focused {
				background-color: lighten(#292a2e, 8%) !important;
			}

			&--is-selected {
				background-color: var(--primary) !important;
			}
		}

		&-container {
			> div {
				outline: none !important;
				box-shadow: none !important;
			}

			&:hover,
			&--menu-is-open {
				border-color: #ced4da !important;
			}
		}
	}
}