@import '@/app/styles/_mixins.scss';

.container {
	@apply grid gap-5;

	grid-template-columns: 550px 1fr;

	.column {
		@apply flex flex-col justify-start gap-5;
	}

	@include md(2xl, 'max') {
		grid-template-columns: 400px 1fr;
	}

	@include md(xl, 'max') {
		grid-template-columns: 1fr;
	}
}

.card {
	@apply flex flex-col gap-3 p-6 bg-card shadow-card rounded-layout;

	.actions {
		@apply flex flex-row justify-center items-center gap-4 flex-wrap;
	}
}
