.card {
	@apply flex flex-col bg-backgroundLight rounded-layout;

	.header {
		@apply text-2xl px-6 pt-6 mb-3;
	}

	.hr {
		@apply border-gray-500;

		border-width: 1px;
	}

	.body {
		@apply p-0;

		&.mini {
			@apply pb-2;
		}

		.lines {
			@apply overflow-auto;
			max-height: 300px;

			&.mini {
				@apply px-2;
			}

			.consoleEmpty {
				@apply w-full flex flex-col items-center justify-center gap-2 h-[250px];

				span {
					@apply text-2xl;
				}

				&.consoleEmptyFull {
					@apply h-full;
				}
			}

			.line {
				@apply w-full text-lg px-2;

				&.error {
					@apply bg-errorHover text-errorText;

					.info {
						@apply text-errorText;

						.message {
							@apply text-errorText;
						}
					}
				}

				&.warn {
					@apply bg-warn text-warnText;

					.info {
						@apply text-warnText;

						.message {
							@apply text-warnText;
						}
					}
				}

				.info {
					@apply text-lightGray;

					.message {
						@apply text-gray-200;
					}
				}
			}
		}

		.enterCommand {
			@apply p-2;
			.slash {
				@apply flex h-7 w-7 items-center text-xl justify-center rounded-md bg-backgroundLight;
				margin: 0 5px 0 15px;
				line-height: 24px;
				box-sizing: content-box;
			}

			input {
				@apply text-xl;
			}
		}
	}

	&.fullConsole {
		.header {
			@apply text-3xl flex flex-row justify-between items-center flex-wrap gap-x-4 gap-y-2 mb-5;

			.headerActions {
				a {
					@apply btn-secondary-gray text-2xl py-1 mb-1;
				}
			}
		}

		.lines {
			height: 450px;
			max-height: 450px;

			.line {
				@apply text-xl;
			}
		}
	}
}
