.container {
	width: 100%;
	background-color: var(--nextui-colors-gray200);

	.headerContainer {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		padding: 1.5rem;
		padding-bottom: 0;
	}

	.contentContainer {
		width: 100%;
		background-color: var(--background);

		.content {
			max-width: 1400px;
			margin: 0 auto;
			padding: 1.5rem;
		}
	}
}
